openapi: 3.0.1
info:
  title: SecondHand WebApp
  description: 'Team 4 Final Project in Binar Academy'
  version: 1.0.0
servers:
  - url: http://localhost:8000
  - url: https://secondhand-be-tim4-staging.herokuapp.com
  - url: https://secondhand-be-tim4-prod.herokuapp.com/
tags:
  - name: City
    description: list all city and search users city
  - name: Category
    descripstion: list all category and search products category
  - name: Authentication User
    descripstion: Register and login User
  - Prodcuts: CRUD user products
    descripstion: products
paths:
  /api/v1/category:
    get:
      tags:
        - Category
      summary: list all category
      responses:
        200:
          descripstion: category fetched
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/category'
        400:
          descripstion: category not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Category Not Found

  /api/v1/category/{id}:
    get:
      tags:
        - Category
      summary: list all category
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
            minimum: 1
      responses:
        200:
          descripstion: category fetched
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/findCategory'
        400:
          descripstion: category not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Category Not Found

  /api/v1/cities:
    get:
      tags:
        - City
      summary: list city
      responses:
        200:
          description: Data fetched
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/city'
        400:
          descripstion:
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: city is empty

  /api/v1/cities/{id}:
    get:
      tags:
        - City
      summary: search city by id
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
            minimum: 1
      responses:
        200:
          descripstion: city found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/findCity'
        400:
          descripstion: city not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: City Not Found

  # register user
  /api/v1/auth/register:
    post:
      tags:
        - Authentication User
      summary: register user
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                nama:
                  type: string
                  example: user
                email:
                  type: string
                  example: user@mail.com
                password:
                  type: string
                  example: userPassword123
        required: true
      responses:
        201:
          descripstion: Register successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/register'
        400:
          descripstion: email exists
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Email already exists
        422:
          descripstion: Register failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Register Failed
  #login user
  /api/v1/auth/login:
    post:
      tags:
        - Authentication User
      summary: login user
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  example: user@mail.com
                password:
                  type: string
                  example: userPassword123
        required: true
      responses:
        201:
          descripstion: Login successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/login'
        400:
          descripstion: Login failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: login failed
        401:
          descripstion: Password incorrect
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Password incorrect
        404:
          descripstion: Email not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Email not found
  #Get user data
  /api/v1/users/siapaSaya:
    get:
      security:
        - bearerAuth: []
      tags:
        - Authentication User
      summary: Get User Data
      responses:
        200:
          description: Data fetched
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/whoami'
        400:
          descripstion:
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: error

  # update user
  /api/v1/users/update/{id}:
    put:
      security:
        - bearerAuth: []
      tags:
        - Update User Profile
      summary: update user data
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
          description: Numeric ID of the id user to be updated
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                nama:
                  type: string
                  example: user
                idkota:
                  type: integer
                  example: 5
                alamat:
                  type: string
                  example: user address
                nohp:
                  type: integer
                  example: 546
                gambar:
                  type: string
                  format: binary
        required: true
      responses:
        201:
          descripstion: Update successfully
          content:
            multipart/form-data:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: OK
        404:
          descripstion: user email not found
          content:
            multipart/form-data:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: User Tidak Ditemukan !
        422:
          descripstion: Update failed
          content:
            multipart/form-data:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Update Failed
        401:
          descripstion: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized

  # add new products
  /api/v1/products:
    get:
      tags:
        - CRUD user products
      summary: list all products
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listProduct'
        400:
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: failed fetch products
    #------------------------------------- tambah barang baru
    post:
      security:
        - bearerAuth: []
      tags:
        - CRUD user products
      summary: add products
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                nama:
                  type: string
                  example: Bola Basket
                harga:
                  type: integer
                  example: 20000
                kategori:
                  type: integer
                  example: 1
                deskripsi:
                  type: string
                  example: Ini bola saya
                image:
                  type: array
                  items:
                    type: string
                    format: binary

      responses:
        201:
          descripstion: new product added
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/addProduct'
        400:
          descripstion:
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Failed add new product

   # list all products
  /api/v1/products:
    get:
      tags:
        - Products
      summary: list all products
      responses:
        200:
          descripstion: products fetched
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/products'
        400:
          descripstion: products not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Products Not Found

  # find products
  /api/v1/products/{id}:
    get:
      tags:
        - Products
      summary: list all products
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
            minimum: 1
      responses:
        200:
          descripstion: products fetched
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/findProducts'
        400:
          descripstion: products not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Products Not Found

#==============================================================
components:
  securitySchemes:
    bearerAuth: # arbitrary name for the security scheme
      type: http
      scheme: bearer
      bearerFormat: JWT
      in: header
  schemas:
    city:
      type: object
      properties:
        allCity:
          type: object
          properties:
            city:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: integer
                    example: 1
                  nama_kota:
                    type: string
                    example: Banda Aceh
                  createdAt:
                    type: string
                    format: date-time
                  updatedAt:
                    type: string
                    format: date-time
    findCity:
      type: object
      properties:
        city:
          type: object
          properties:
            id:
              type: integer
              example: 1
            nama_kota:
              type: string
              example: Banda Aceh
            createdAt:
              type: string
              format: date-time
            updatedAt:
              type: string
              format: date-time

    register:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: integer
              example: 1
            nama:
              type: string
              example: user
            email:
              type: string
              example: user@mail.com
            registeredVia:
              type: string
              example: website
    login:
      type: object
      properties:
        id:
          type: integer
          example: 27
        email:
          type: string
          example: user@mail.com
        token:
          type: string
          example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6MjcsImVtYWlsIjoidXNlckBtYWlsLmNvbSIsImNyZWF0ZWRBdCI6IjIwMjItMDYtMjRUMDY6MTk6MTkuMTY0WiIsInVwZGF0ZWRBdCI6IjIwMjItMDYtMjRUMDY6MTk6MTkuMTY0WiIsImlhdCI6MTY1NjA1MjkzMywiZXhwIjoxNjU2MDU0NzMzfQ.6hIS5PNONh2gj164TUnjkrD0spIkon77oQEg6qFQjKc
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    whoami:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: integer
              example: 36
            idkota:
              type: integer
              example: 6
            nama:
              type: string
              example: user-name
            email:
              type: string
              example: user-email
            alamat:
              type: string
              example: user-address
            nohp:
              type: integer
              example: 555
            gambar:
              type: string
              example: image-id(ImageKit)
            googleId:
              type: string
              example: google-id
            registeredVia:
              type: string
              example: Website
            createdAt:
              type: string
              format: date-time
            updatedAt:
              type: string
              format: date-time

    category:
      type: object
      properties:
        category:
          type: array
          items:
            type: object
            properties:
              id:
                type: integer
                example: 1
              nama_kategori:
                type: string
                example: Hobi
              createdAt:
                type: string
                format: date-time
              updatedAt:
                type: string
                format: date-time
    findCategory:
      type: object
      properties:
        category:
          type: object
          properties:
            id:
              type: integer
              example: 1
            nama_kategori:
              type: string
              example: Hobi
            createdAt:
              type: string
              format: date-time
            updatedAt:
              type: string
              format: date-time

    addProduct:
      type: object
      properties:
        message:
          type: string
          example: New Product added
        product:
          type: object
          properties:
            id:
              type: integer
              example: 1
            iduser:
              type: integer
              example: 1
            idkategori:
              type: integer
              example: 1
            nama:
              type: string
              example: Bola Basket
            harga:
              type: integer
              example: 200000
            deskripsi:
              type: string
              example: ini bola Basket
            updatedAt:
              type: string
              format: date-time
            createdAt:
              type: string
              format: date-time
            minat:
              type: integer
              format: null

    listProduct:
      type: object
      properties:
        data:
          type: object
          properties:
            barang:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: integer
                    example: 152
                  iduser:
                    type: integer
                    example: 1
                  idkategori:
                    type: integer
                    example: 1
                  nama:
                    type: string
                    example: Mobil Baru
                  harga:
                    type: integer
                    example: 20000
                  deskripsi:
                    type: string
                    example: ini mobil Baru
                  minat:
                    type: boolean
                    example: false
                  createdAt:
                    type: string
                    format: date-time
                  updatedAt:
                    type: string
                    format: date-time
                  gambarbarangs:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 136
                        idbarang:
                          type: integer
                          example: 153
                        createdAt:
                          type: string
                          format: date-time
                        updatedAt:
                          type: string
                          format: date-time
                  kategori:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 1
                      nama_kategori:
                        type: string
                        example: Hobi
                      createdAt:
                        type: string
                        format: date-time
                      updatedAt:
                        type: string
                        format: date-time
